// SPDX-License-Identifier: GPL-2.0
/*
 * Common AM62Px EVM dts file for SPLs
 * Copyright (C) 2022 Texas Instruments Incorporated - https://www.ti.com/
 * Copyright (C) 2025 Variscite Ltd. - https://www.variscite.com/
 */

#include "k3-am62p-var-som-symphony-binman.dtsi"

/ {
	chosen {
		stdout-path = "serial2:115200n8";
		tick-timer = &main_timer0;
	};

	reserved-memory {
		bootph-pre-ram;
	};
};

&ddr_pmctrl {
	bootph-pre-ram;
};

&canuart_wake {
	bootph-pre-ram;
};

&cbass_wakeup {
	bootph-pre-ram;
};

&dmsc {
	bootph-pre-ram;
};

&dss0 {
	compatible = "ti,am625-dss";
	clocks = <&k3_clks 186 6>,
		 <&k3_clks 186 0>,
		 <&k3_clks 186 2>;
	ti,am65x-oldi-io-ctrl = <&dss_oldi_io_ctrl>;
};

&cpsw_mac_syscon {
	bootph-all;
};

&cpsw3g_mdio {
	bootph-all;
};

&cpsw3g_phy0 {
	bootph-all;
};

&cpsw_port1 {
	/* Variscite MAC addresses assigned by EEPROM/env */
	/delete-property/ ti,syscon-efuse;
	bootph-all;
};

&cpsw_port2 {
	bootph-all;
};

/* Backlight off */
&main_pmx0 {
	bootph-all;

	lvds_backlight_uboot_pins: lvds-backlight-uboot-pins {
		pinctrl-single,pins = <
			AM62PX_IOPAD(0x19c, PIN_OUTPUT, 7) /* (E24) GPIO_1_9 */
		>;
		bootph-all;
	};
};

&main_gpio1 {
	bootph-all;
	pinctrl-names = "default";
	pinctrl-0 = <&lvds_backlight_uboot_pins>;

	lvds_backlight_hog {
		bootph-all;
		gpio-hog;
		gpios = <9 0>;
		output-low;
		line-name = "lvds_backlight";
	};
};
&main_i2c0 {
	bootph-all;
};

&main_i2c0_pins_default {
	bootph-all;
};

&main_i2c1 {
	bootph-all;
};

&main_i2c1_pins_default {
	bootph-all;
};

&main_i2c2 {
	bootph-all;
};

&main_i2c2_pins_default {
	bootph-all;
};

&main_i2c3 {
	/delete-property/ power-domains;
	bootph-all;
};

&main_i2c3_pins_default {
	bootph-all;
};

&main_gpio0 {
	bootph-all;
};

&main_rgmii1_pins_default {
	bootph-all;
};

&main_mdio1_pins_default {
	bootph-all;
};

&phy_gmii_sel {
	bootph-all;
};

&main_pktdma {
	bootph-all;
};

/* Required for USB DFU Boot */
&usb0 {
	bootph-all;
};

/* Required for USB DFU Boot */
&usb0_phy_ctrl {
	bootph-all;
};

&wkup_r5fss0 {
	bootph-pre-ram;
};

&wkup_r5fss0_core0 {
	bootph-pre-ram;
};

&wkup_r5fss0_core0_memory_region {
	bootph-pre-ram;
};
