// SPDX-License-Identifier: GPL-2.0
/*
 * Common VAR-SOM-AM62Px dts file for SPLs
 * Copyright (C) 2022 Texas Instruments Incorporated - https://www.ti.com/
 * Copyright (C) 2025-2026 Variscite Ltd. - https://www.variscite.com/
 */

#include "k3-am62p-var-som-symphony-binman.dtsi"

/ {
	chosen {
		stdout-path = "serial2:115200n8";
		tick-timer = &main_timer0;
	};

	reserved-memory {
		bootph-pre-ram;
	};

	backlight_lcd: backlight-lcd {
		compatible = "gpio-backlight";
		pinctrl-names = "default";
		pinctrl-0 = <&lcd_backlight_pins_default>;
		gpios = <&main_gpio1 9 GPIO_ACTIVE_HIGH>;
		default-on;
		bootph-all;
	};

	display {
		bootph-pre-ram;
		compatible = "simple-panel";
		backlight = <&backlight_lcd>;
		width-mm = <153>;
		height-mm = <87>;
		label = "gktw70sdae4se";
		data-mapping = "jeida-24";
		status = "okay";

		panel-timing {
			bootph-pre-ram;
			clock-frequency = <30000>;
			hactive = <800>;
			vactive = <480>;
			hback-porch = <40>;
			hfront-porch = <40>;
			vback-porch = <29>;
			vfront-porch = <13>;
			hsync-len = <48>;
			vsync-len = <3>;
			hsync-active = <0>;
			vsync-active = <0>;
			de-active = <1>;

			/* unlike most panels this panel expects pixelclk-active = <1> */
			pixelclk-active = <1>;
		};

		port@0 {
			lcd_in0: endpoint {
				remote-endpoint = <&oldi0_dss0_out>;
			};
		};
	};
};

&dss0 {
	compatible = "ti,am625-dss";
	clocks = <&k3_clks 186 6>,
		 <&k3_clks 186 0>,
		 <&k3_clks 186 2>;
	ti,am65x-oldi-io-ctrl = <&dss_oldi_io_ctrl>;
};

&wkup_r5fss0_core0_memory_region {
	bootph-pre-ram;
};

&cbass_wakeup {
	bootph-pre-ram;
};

&dmsc {
	bootph-pre-ram;
};

/* Required for USB DFU Boot */
&usb0_phy_ctrl {
	bootph-all;
};

&usb0 {
	bootph-all;
	dr_mode = "peripheral";

	/delete-property/ usb-role-switch;
	/delete-node/ port;
};

&usbss0 {
	/delete-node/ connector;
};

&ddr_pmctrl {
	bootph-pre-ram;
};

&canuart_wake {
	bootph-pre-ram;
};

&wkup_r5fss0 {
	bootph-pre-ram;
};

&wkup_r5fss0_core0 {
	bootph-pre-ram;
};

&cpsw_mac_syscon {
	bootph-all;
};

&cpsw_port1 {
	/* Variscite MAC addresses assigned by EEPROM/env */
	/delete-property/ ti,syscon-efuse;
	bootph-all;
};

&main_pktdma {
	bootph-all;
};

&main_rgmii1_pins_default {
	bootph-all;
};

&main_mdio1_pins_default {
	bootph-all;
};

&cpsw3g_phy0 {
	bootph-all;
};

&cpsw3g_mdio {
	bootph-all;
};

&phy_gmii_sel {
	bootph-all;
};

&cpsw_port2 {
	bootph-all;
};

&main_i2c0 {
	bootph-all;
};

&main_i2c0_pins_default {
	bootph-all;
};

&main_i2c1 {
	bootph-all;
};

&main_i2c1_pins_default {
	bootph-all;
};

/* Keep all I2C interfaces enabled through all boot phases.
   This way we can ensure that I2C3 with EEPROM access will always be I2C3
*/
&main_i2c2 {
	bootph-all;
};


&main_i2c3 {
	/delete-property/ power-domains;
	bootph-all;
};

&main_i2c3_pins_default {
	bootph-all;
};

&main_gpio0 {
	bootph-all;
};

&main_rgmii1_pins_default {
	bootph-all;
};

&main_mdio1_pins_default {
	bootph-all;
};


&main_pmx0  {
	bootph-all;
	lcd_backlight_pins_default: lcd-backlight-pins-default {
		pinctrl-single,pins = <
			AM62PX_IOPAD(0x19c, PIN_INPUT_PULLUP, 7) /* (E24) GPIO_1_9 */
		>;
		bootph-all;
	};
};
